.hero {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.hero-divider {
    min-height: 250px;
    height:40vh;
    background-image: url('../img/eggs-hero.jpg');
    background-size: cover;
    background-position: center center;
}